!!! 5
%html
  %head
    %title= ""
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
  %body
    %ul
      %li= foo t('user.show.link_label'), t('user.show.link_label')
