!!! 5
%html
  %head
    %title= ""
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
  %body
    .container
      %h3= t 'user.books.index.title'
      %p= t "user.books.index.message"
