!!! 5
%html
  %head
    %title= ""
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
  %body
    .container
      - selection = [t('user.books.index.year'), t('user.books.index.hour')]
